
#frame {
	width: 100%;
	background-color: #09040e;
}

#left_panel {
	width: 25%;
	height: 100vh; 
	float: left;
	background: black;
	background-size: auto;

	border: 5px purple;
}

#right_panel {
	margin-left: 25%;
	height: 100vh; 
	background-image: url(../Images/star-background.jpg);
	background-size: auto;

	border: 5px #09040e;
}